.first-pic-container img{

    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    cursor: pointer;
}

.second-pic-container img{

    max-width: 100%;
    height: auto;
    margin-left: 45px;
    margin-bottom: 70px;
}

.third-pic-container img{

    max-width: 100%;
    height: auto;
}

/* .header-button{
    background-color: #e8804c;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    float: right;
    margin-right: 170px;
    cursor: pointer;
} */