@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar {
  background: #1697b7;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .logo-container {
  color: white;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .logo-container img {
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 10px;
  margin-left: 45px;
  cursor: pointer;
}
.navbar .navbar-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
  white-space: nowrap;
    color: white;
}

  .nav-button {
  color: white;
  background-color: #ff0000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  cursor: pointer;
}

.navbar .navbar-links {
  width: 100%;
}
.navbar .navbar-links ul {
  float: right;
  margin-right: 20px;
}
.navbar .navbar-links ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .navbar-links ul li .dropdown .dropbtn {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: inherit;
  display: block;
  line-height: 80px;
  margin: 0 5px;
  outline: none;
  border: none;
}
.navbar .navbar-links ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  line-height: 65px;
}
.navbar .navbar-links ul li .dropdown-content a {
  float: none;
  color: #1697b7;
  padding: 8px 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
  line-height: 65px;
}


.navbar .navbar-links ul li .dropdown-content a:hover {
  background-color: #ddd;
}
.navbar .navbar-links ul li .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .navbar-links ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar .navbar-links ul li:nth-child(6) {
  background-color: #dc1818;
  border-radius: 2rem;
}
.navbar .navbar-links ul li:hover:not(:last-child) {
  background-color: #1b9bff;
}


@media (min-height: 600px) and (max-width: 800px) {
  .navbar-title {
    display: none;
  }
  .navbar-links {
    font-size: 15px;
  }

}





.header-pic img {
   height: 550px;
  width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 5px solid white;
  border-top: 100px #3d2400;
  border-radius: 10px;
  z-index: -1;
}



.rectangle {
  height: 170px;
  width: 1400px;
  background-color: #30c3cd;
  margin-top: -70px;
  margin-left: 70px;
  border-radius: 10px;
  z-index: -1;
  position: absolute;
}


.body-text {
  color: #212121;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 80px 150px;
  text-align: center;
}



* {
  padding: 0;
  margin: 0;
}

.column {
  float: left;
  width: 40%;
  padding: 5px;
  margin-top: 120px;
  margin-left: 110px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
   margin-top: 100px;
  margin-left: 80px;
}




.btn-group button {
  background-color: #1697b7;
  width: 300px;
  height: 60px;
 font-family: Arial, Helvetica, sans-serif;
  color: white; 
  padding: 70px
  cursor:pointer; 
  border-radius:20px;
  margin-top: -50px;
  margin-left: 300px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}



/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ddd
}


* {
  padding: 0;
  margin: 0;
}
footer {
  position: fixed;
  bottom: 0;
}
@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-pic img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 220px;
  cursor: pointer;
}
.footer-distributed {
  background-color: #f3ad78;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px helvetica;
  padding: 50px 50px 50px 50px;
  margin-top: 60px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 35%;
}

body {
  background-color: #f3f3f3;
  font-family: helvetica;
}